<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title>毕业项目页面样式</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="container clearfix">
		<!-- menu start -->
		<div class="menu">
			<!-- user-info -->
			<header class="menu-header clearfix">
				<img class="user-avatar" id="user-avatar" src="image/user.png" >
				<p class="user-name" id="user-name">用户昵称</p>
				<!-- 头部菜单按钮，可拉出菜单栏 -->
				<a class="menu-header-menu" id="dropdown-menu" href="javascript:;"></a>
				<!-- 通过按钮点击打开的附件菜单 -->
				<ul class="menu-header-dropdown-menu" id="dropdown-menu-body">
					<li class="dropdown-menu-item" id="change-info">修改信息</li>
					<li class="dropdown-menu-item" id="login-out">退出登录</li>
				</ul>
			</header>
			<!-- menu-nav -->
			<ul class="menu-nav ul-default">
				<li class="menu-nav-item menu-nav-item-check" id="menu-nav-message"><a href="javascript:;" class="menu-nav-item-icon menu-icon-message"></a></li>
				<li class="menu-nav-item" id="menu-nav-friend"><a href="javascript:;" class="menu-nav-item-icon menu-icon-friend"></a></li>
				<li class="menu-nav-item" id="menu-nav-add"><a href="javascript:;" class="menu-nav-item-icon menu-icon-add"></a></li>
			</ul>
			<!-- menu-content -->
			<div class="menu-content">
				<!-- message list start -->
				<ul class="menu-list" id="menu-message">
					<li class="menu-item clearfix menu-message-check menu-message-new">
						<img class="menu-item-avatar" src="image/user.png">
						<p class="menu-item-name">Coffce</p>
						<div class="new-message"></div>
					</li>
					<li class="menu-item clearfix">
						<img class="menu-item-avatar" src="image/user.png">
						<p class="menu-item-name">Coffce</p>
						<div class="new-message"></div>
					</li>
				</ul>
				<!-- message list end -->
				<!-- friend list start -->
				<div id="menu-friend" id="menu-friend">
					<!-- 我的好友列表 -->
					<div>
						<p class="part-name">我的好友</p>
						<ul class="menu-list" id="friend-list">
							<li class="menu-item clearfix">
								<img class="menu-item-avatar group" src="image/user.png">
								<p class="menu-item-name">Coffce</p>
							</li>
							<li class="menu-item clearfix">
								<img class="menu-item-avatar group" src="image/user.png">
								<p class="menu-item-name">Coffce</p>
							</li>
						</ul>
					</div>
					<!-- 群组列表 -->
					<div>
						<p class="part-name">我的群组</p>
						<ul class="menu-list" id="group-list">
							<li class="menu-item clearfix">
								<i class="group-avatar"></i>
								<p class="menu-item-name">Coffce</p>
							</li>
							<li class="menu-item clearfix">
								<i class="group-avatar"></i>
								<p class="menu-item-name">Coffce</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- friend list end -->
			</div>
		</div>
		<!-- menu end -->
		<!-- main start -->
		<div class="main">
			<!-- main-message -->
			<header class="message-title">对方昵称</header>
			<ul class="message-list">
				<li class="message-item clearfix message-self">
					<img class="message-avatar" src="image/user.png">
					<p class="message-text">gfadfdgg</p>
				</li>
				<li class="message-item clearfix">
					<img class="message-avatar" src="image/user.png">
					<p class="message-text">gfasdfsdfdsfdsfdsfsfdsfsdfdsdfgfasdfsdfdsfdsfdsfsfdsfsdfdsdfdggfasdfsdfdsfdsfdsfsfdsfsdfdsdfdgggfasdfsdfdsfdsfdsfsfdsfsdfdsdfdgggfasdfsdfdsfdsfdsfsfdsfsdfdsdfdgggfasdfsdfdsfdsfdsfsfdsfsdfdsdfdgggfasdfsdfdsfdsfdsfsfdsfsdfdsdfdgggfasdfsdfdsfdsfdsfsfdsfsdfdsdfdgggdgg</p>
				</li>
			</ul>
			<div class="main-text">
				<ul class="main-text-toolbar ul-default">
					<li class="tool-bar-item"><a class="tool-bar-item-icon icon-file" href="javascript:;" title="发送文件"></a></li>
					<li class="tool-bar-item"><a class="tool-bar-item-icon icon-voice" href="javascript:;" title="语音聊天"></a></li>
					<li class="tool-bar-item"><a class="tool-bar-item-icon icon-video" href="javascript:;" title="视频聊天"></a></li>
				</ul>
				<textarea class="main-text-area" placeholder="按Enter发送"></textarea>
			</div>
		</div>
		<!-- main start -->
	</div>
	<!-- modal-info-change start -->
	<div class="modal" id="modal-info-change">
		<!-- 遮盖层背景 -->
		<div class="modal-background"></div>
		<!-- 模态框本体 -->
		<div class="modal-body info-change">
			<h2 class="info-change-title">个人信息修改</h2>
			<form class="info-change-form" id="info-change-form" method="post" action="/user/changeUserInfo" enctype="multipart/form-data">
				<div class="info-change-item clearfix">
					<label class="info-change-item-label">头像</label>
					<img class="info-change-img" id="info-change-img" src="image/user.png">
					<input class="info-change-img-input" id="info-change-img-input" type="file" name="avatar"/>
				</div>
				<div class="info-change-item clearfix">
					<label class="info-change-item-label">昵称</label>
					<input class="info-change-item-input" id="info-change-nickname" type="text" name="nickName" required/>
				</div>
				<div class="info-change-item clearfix">
					<label class="info-change-item-label">密码</label>
					<input class="info-change-item-input" id="info-change-password" type="text" name="password" required/>
				</div>
				<div class="info-change-item clearfix">
					<label class="info-change-item-label">邮箱</label>
					<input class="info-change-item-input" id="info-change-email" type="text" name="email"/>
				</div>
				<button class="info-change-submit" type="submit">提交修改</button>
			</form>
		</div>
	</div>
	<!-- modal-info-change end -->
	<!-- modal-add start -->
	<div class="modal" id="modal-friend-add">
		<!-- 遮盖层背景 -->
		<div class="modal-background"></div>
		<!-- 模态框本体 -->
		<div class="modal-body friend-add">
			<header class="friend-add-header clearfix">
				<a class="friend-add-btn friend-add-btn-check" href="friend">添加好友</a>
				<a class="friend-add-btn" href="group">添加群组</a>
			</header>
			<div class="friend-add-body">
				<div class="search-container">
					<input class="search-input" id="search-input" type="text" placeholder="输入名称" data-type="friend"/>
					<a class="search-btn" id="search-btn" href="javascript:;" title="搜索"></a>
				</div>
				<div class="search-result clearfix" id="search-result">
				</div>
			</div>
		</div>
	</div>
	<!-- modal-add end -->
	<script src="javascript/jquery-3.2.1.min.js"></script>
	<script src="javascript/index.js"></script>
</body>
</html>